<!doctype html>
<html lang="en">
{% load static %}
{% load active_link_tags %}
<head>
	<title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/chartist/css/chartist-custom.css' %}">
	
	<link rel="stylesheet" href="{% static 'assets/vendor/select2/css/select2.min.css' %}">

	<!-- MAIN CSS -->
	
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
	
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
			<!-- <p class="_1Bxba" style="text-align: center; line-height: 15px;" >EXPRESS CARWASH</p> -->
				<a href="#"><img id="carwash" src="{% static 'assets/img/gren.jpg' %}" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
			
			

				<div class="navbar-btn navbar-btn-right">
					<span class="btn btn-primary  " style="cursor:default" href="#" title="Upgrade to Pro" target="_blank"> <span>Count:  <b>
						{% if count_all %}
							{{ count_all }}
						{% elif count %}
						 	{{ count }}
						{% elif count_date %}
							{{ count_date }}
						{% elif count_type %}
							{{ count_type }}
						{% endif %}
						</b></span></span>
	
				<span class="btn btn-success " style="cursor:default" href="#" title="Upgrade to Pro" target="_blank"> <span>Cash: <b>
					{% if price_all %}
						{{ price_all.price__sum}} $
					{% elif price_date %}
					 	{{ price_date.price__sum }} $
					{% elif price_type %}
						{{ price_type.price__sum }} $
					{% elif  price %}
						{{ price.price__sum }} $
					{% endif %}

				
				
				
				
				
				
				</b></span></span>
				</div>
			
				<div id="navbar-menu">
					
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							
						</li>
						<li class="dropdown">
							
						</li>
						<li class="dropdown">
							
						</li>
					
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						
						<li><a href="{% url 'car' %}" class="{% active_link 'car' %}"><i class="lnr lnr-car"></i> <span>Customers</span></a></li>
				
						<li><a href="{% url 'worker' %}" class="{% active_link 'worker' %}"><i class="lnr lnr-mustache"></i> <span>Workers</span></a></li>
						
						<li><a href="{% url 'add_car' %}" ><i class="lnr lnr-file-add"></i> <span>Add cars</span></a></li>
						
				
						<li><a href="{% url 'logout' %}"><i class="lnr lnr-linearicons"></i> <span>Logout</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
				
					{% block content %}
					{% endblock %}
			</div>
			</div>
			</div>
			<!-- END MAIN CONTENT -->
	
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p> Designed &amp; Developed by <a href="http://diamondsolutions.uz/" target="_blank">Diamond Solutions</a> 2021</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>
	<script src="{% static 'assets/vendor/select2/js/select2.full.min.js' %}"></script>
	<script >
		
		
	</script>
	<script src="{% static 'assets/scripts/klorofil-common.js' %}"></script>


	
</body>

</html>
