{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
									<div class="col-md-12">
										<!-- BASIC TABLE -->
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Cars Table</h3>
											</div>
											<div class="panel-body">
												<table class="table">
													<thead>
														<tr>
															<th>#</th>
															<th>Model</th>
															<th>Color</th>
															<th>Number</th>
															<th>Car type</th>
															<th>Wash type</th>


														</tr>
													</thead>
													<tbody>
													{% for car in  cars %}	
														<tr>
															<td>{{ car.id }}</td>
															<td>{{ car.model }}</td>
															<td>{{ car.color }}</td>
															<td>{{ car.number }}</td>
															<td>{{ car.get_car_type_display }}</td>
															<td>{{ car.get_wash_type_display }}</td>
															
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
					
					
							<!-- END REALTIME CHART -->
						</div>
					</div>
	{% endblock %}