{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
									<div class="col-md-12">
										<!-- BASIC TABLE -->
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Workers Table</h3>
											</div>
											<div class="panel-body">
												<table class="table">
													<thead>
														<tr>
															<th>#</th>
															<th>Full name</th>
															<th>Car</th>
															<th>Car type</th>
															<th>Wash type</th>
															<th>Status</th>


														</tr>
													</thead>
													<tbody>
													{% for worker in  workers %}	
														<tr>
															<td>{{ worker.id }}</td>
															<td>{{ worker.full_name }}</td>
															<td>{{ worker.car }}</td>
															<td>{{ worker.car_type }}</td>
															<td>{{ worker.wash_type }}</td>
															<td>{{ worker.status }}</td>
															
															
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
					
					
							<!-- END REALTIME CHART -->
						</div>
					</div>
	{% endblock %}